{% extends 'base/base_account.html' %}

{% block navbar %}
    <header class="navbar navbar-header navbar-header-fixed">
        <a href="#" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
        <div class="navbar-brand">
            <a href="/" class="df-logo">dash<span>forge</span></a>
        </div><!-- navbar-brand -->
        <div id="navbarMenu" class="navbar-menu-wrapper">
            <div class="navbar-menu-header">
                <a href="/" class="df-logo">dash<span>forge</span></a>
                <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
            </div><!-- navbar-menu-header -->

        </div><!-- navbar-menu-wrapper -->
        <div class="navbar-right">

        </div><!-- navbar-right -->
    </header><!-- navbar -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
                <div class="mx-wd-600">
                    <img src="https://via.placeholder.com/1260x950" class="img-fluid" alt="">
                </div>

            </div><!-- media-body -->
            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <div class="wd-100p">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                        <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>

                        <div class="form-group">
                            <label>{{ form.username.label_tag }}</label>
                            <input type="text" class="form-control" placeholder="username" name="username" autofocus=""
                                   autocapitalize="none" autocomplete="username" maxlength="150" required=""
                                   id="id_username">
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between mg-b-5">
                                <label>{{ form.password.label_tag }}</label>
                                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                            </div>
                            <input type="password" class="form-control" placeholder="Enter your password"
                                   name="password" autocomplete="current-password" required="" id="id_password">
                        </div>
                        <button class="btn btn-brand-02 btn-block">Sign In</button>
                    </form>
                </div>
            </div><!-- sign-wrapper -->
        </div><!-- media -->
    </div><!-- container -->
{% endblock %}